<script type="text/javascript">
    //JQuery code For Tool Tips
    $(window).ready(function () {
        $("lpNameSearchTxt").tooltip();
        $("vSkuSearchTxt").tooltip();
        $("palletNameSearchTxt").tooltip();
        $("itemNumSearchTxt").tooltip();
       
    });
</script>

<div class="modal-header">
    <table>
        <tr>
            <td><h4 class="modal-title">Truck Details :&nbsp;</h4></td>
            <td style="font-style: oblique;"><h4 style="text-decoration: underline">{{data.inTransitTrucks[0].location}}</h4></td>
        </tr>
    </table>

</div>
<div class="modal-body">
    <table st-table=" rowcollection" class="responstable">
        <thead>
            <tr>
                <th st-sort="Pallets">Pallets on the Truck</th>
                <th st-sort="Pallets">LPs on the Pallets</th>
                <th st-sort="Pallets">Virtual SKUs on Pallets</th>
                <th st-sort="Pallets">Items on the LPs</th>
            </tr>
            <tr style="border: solid; border-color: #d9e4e6; border-bottom-color: #D9E4E6; border-bottom-width:thin">
                <th style="background-color: #ffffff; border-bottom-color: #D9E4E6; border-right-color: #D9E4E6; border-left-color: #D9E4E6;">
                    <input type="text" class="form-control" placeholder="Search Pallets" ng-model="palletFilter.location" id="palletNameSearchTxt" title="Search by Pallet Name" /> <!--ng-model="test1.City"-->
                </th>
                <th style="background-color: #ffffff; border-bottom-color: #D9E4E6; border-right-color: #D9E4E6;">
                    <input type="text" class="form-control" placeholder="Search LPs" ng-model="lpFilter.location" id="lpNameSearchTxt" title="Search by LP" /> <!--ng-model="test1.City"-->
                </th>
                <th style="background-color: #ffffff; border-bottom-color: #D9E4E6; border-right-color: #D9E4E6;">
                    <input type="text" class="form-control" placeholder="Search VirtualSKUs" ng-model="itemfilter.virtualSKU" id="vSkuSearchTxt" title="Search by Virtual SKU" /> <!--ng-model="test1.Country"-->
                </th>
                <th style="background-color: #ffffff; border-bottom-color: #D9E4E6; border-right-color: #D9E4E6;">
                    <input type="text" class="form-control" placeholder="Search ItemNumbers" ng-model="itemfilter.itemNumber" id="itemNumSearchTxt" title="Search by Item Number" /> <!--ng-model="test1.Country"-->
                </th>

            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align: text-top; border-color: #d9e4e6" ng-repeat="x in data.inTransitTrucks">
                <td colspan="4">
                    <table style="width: 100%">
                        <tr style="horiz-align: left;" ng-repeat="pallet in x.pallets | filter:palletFilter" ng-show="(pallet.licensePlates | filter:lpFilter).length > 0 && (pallet.licensePlates | filter:{items:itemfilter}).length > 0">
                            <td style=" width 25%">
                                &nbsp;&nbsp;{{pallet.location}}
                            </td>
                            <td style="width: 75%" colspan="3">
                                <table style="width: 100%; border:none">
                                    <tr style="horiz-align: left" ng-repeat="lP in pallet.licensePlates | filter:lpFilter" ng-show="(lP.items | filter:itemfilter).length > 0">
                                        <td style="width: 33.33%">&nbsp;&nbsp;{{lP.location}}</td>
                                        <td>
                                            <table style="width: 100%; border: none">
                                                <tr style="horiz-align: left;" ng-repeat="item in lP.items | filter:itemfilter">

                                                    <td style="width: 50%">&nbsp;&nbsp;{{item.virtualSKU}}</td>
                                                    <td style="width: 25%">&nbsp;&nbsp;{{item.itemNumber}}</td>
                                                    <td style="width: 25%">&nbsp;&nbsp;Qty : {{item.quantity}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="truckDetails.ok()">Close</button>
</div>

