<div class="address">
    <span ng-if="address.name"><span class="name">{{ address.name }}</span><br /></span>
    <span ng-if="address.address1"><span class="address1">{{ address.address1 }}</span><br /></span>
    <span ng-if="address.address2"><span class="address2">{{ address.address2 }}</span><br /></span>
    <span class="city">{{ address.city }}</span>,
    <span class="state">{{ address.state }}</span>
    <span class="zip">{{ address.zip }}</span><br />
    <span class="country">{{ address.country }}</span><br />
    <span class="telephone">{{ address.telephone }}</span><br />
</div>
